<style>
    .searcher {
        min-height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>


    <div style=" height: 70vh;" class="container" id="main">
        @using (Ajax.BeginForm("doSearch", "Parent", new AjaxOptions() { UpdateTargetId = "main", HttpMethod = "GET", InsertionMode = InsertionMode.Replace, OnFailure = "OnFailure" }))
        {
            @Html.AntiForgeryToken()
            <div class="searcher row">
                <div class="col-md-3">
                    @Html.Editor("Search", new { width ="1000px;" })
                    <input type="submit" value="Submit">
                </div>
            </div>
        }
    </div>



@section scripts{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")

    <script type="text/javascript">
        function OnFailure(data) {
            alert("ERROR: Parent Not Found Check the Email you entered");
        }
    </script>
}  